* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #171923;
  color: #fff;
}

.container {
  width: 420px;
  background: #2d2d30;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container header {
  font-size: 24px;
  font-weight: 600;
  line-height: 50px;
}

.container form {
  margin: 20px 5px 10px 5px;
}

form .field {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 25px;
  transition: all 0.3s;
}

.indicator {
  display: none; /* Inicialmente oculta a barra de força e a palavra de indicação */
}

.password-strength {
  height: 12px; /* Aumenta a altura da barra de força */
  width: 100%;
  display: flex;
  align-items: center;
}

.password-strength div {
  flex-grow: 1;
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 5px;
}

.password-strength .weak {
  background-color: rgb(236, 0, 0);
}

.password-strength .medium {
  background-color: rgb(241, 106, 3);
}

.password-strength .strong {
  background-color: rgb(109, 251, 0);
}

.text {
  font-size: 20px;
  font-weight: 500;
  display: none; /* Inicialmente oculta a palavra de indicação */
  margin-top: 5px; /* Adiciona espaço acima da palavra de indicação */
}

.text.fraco {
  color: rgb(236, 0, 0);
}

.text.moderado {
  color: rgb(241, 106, 3);
}

.text.forte {
  color: rgb(109, 251, 0);
}